WORKING_DIR=/app
PORT=3000
DATABASE_TABLE_NAME=pre_joining_assignment_for_intern
DATABASE_USER_NAME=rails_client
DATABASE_USER_PASSWORD=
DATABASE_COLLATION=utf8mb4_0900_ai_ci
DATABASE_CHARSET=utf8mb4
